<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include navigation.html %}
    {{ content }}
    {% assign image_files = site.static_files | where: "image", true %}
    {% for myimage in image_files %}
      {% assign splited = myimage.basename | split: " " %}
      {% assign dimensions = splited[0] | split: "x" %}
      {{ dimensions[0] }}
      <!-- <div width="{{ dimensions[0] }}" height="{{ dimensions[1] }}" overflow="hidden"> -->
      <div style="width:dimensions[0]">
        <img src="{{ myimage.path }}" />
      </div>
    {% endfor %}
  </body>
</html>